<!--
  Generated template for the EventTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Discover</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="section-search">
    <a href="#" class="close-btn" (click)="removeText()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <input type="text" name="search" placeholder="Search by location.." (keyup.enter)="searchEvent()" [(ngModel)]="searchCity" class="search-box">
  </div>
  <ion-row *ngIf="!isEmptyRecom" class="recommended">
    <ion-col col-6>
      <p class="sr-text">
        RECOMMENDED
        <ion-badge item-end>{{recommendationArray?.length}}</ion-badge>
      </p>
    </ion-col>
    <ion-col col-6>
      <p class="sr-text see-all"><a href="">SEE ALL  <ion-icon name="arrow-forward"></ion-icon></a></p>
    </ion-col>
  </ion-row>
  <div class="slideContainer" *ngIf="!isEmptyRecom">
    <ion-slides *ngIf="!isEmptyRecom" #slides pager>
      <ng-container *ngFor="let recommendation of recommendationArray; let i=index">
        <ion-slide *ngIf="i<5" (tap)="tapEvent(recommendation)">
          <div class="ion-bg" *ngIf="i<5">
            <ion-card>
              <div class="bg-img" [ngStyle]="{ 'background-image': 'url(' + recommendation.imgName + ')'}"></div>
              <div class="card-title">{{recommendation.title}}</div>
              <div class="content-custom">
                <p class="rec-title">Hosted by: {{recommendation.user_fname}} {{recommendation.user_lname}}</p>
                <ion-row class="rec-row">
                  <ion-col col-6>
                    <p class="rec-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{recommendation.startdate | date: 'yMMMd'}}</p>
                  </ion-col>
                  <ion-col col-6>
                    <p class="rec-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{recommendation.starttime}} - {{recommendation.endtime}}</p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </div>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>
  <hr *ngIf="!isEmptyRecom">

  <p class="sr-text">
    SEARCH RESULT
    <ion-badge item-end>{{eventsArray?.length}}</ion-badge>
  </p>  
  
  <div class="no-result" *ngIf="eventsArray?.length<1">
    <i class="fa fa-search fa-5x" aria-hidden="true"></i>
    <h3>NO EVENT FOUND</h3>
    <p>There is currently no event in {{searchCity}}. Create an event now or search events in another city!</p>
  </div>

  <ion-card *ngFor="let upcomingEvent of eventsArray" (tap)="tapEvent(upcomingEvent)">
    <div class="bg-img" [ngStyle]="{ 'background-image': 'url(' + upcomingEvent.imgName + ')'}"></div>
    <ion-card-content>
      <ion-card-title class="cardTitle">
        {{upcomingEvent.title}}
      </ion-card-title>
      <p class="subTitle">Hosted by: {{upcomingEvent.user_fname}} {{upcomingEvent.user_lname}}</p>
      <p>
        {{upcomingEvent.description}}
      </p>
      <ion-row>
        <ion-col col-6>
          <i class="fa fa-calendar" aria-hidden="true"></i> {{upcomingEvent.startdate | date: 'yMMMd'}}
        </ion-col>
        <ion-col col-6>
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{upcomingEvent.starttime}} - {{upcomingEvent.endtime}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{upcomingEvent.location}}, {{upcomingEvent.city}}
        </ion-col>
        <ion-col col-6 class="e-type">
          <i class="fa fa-unlock" aria-hidden="true"></i> {{upcomingEvent.type}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <div>
      <div class="bg-img" style="background-image: url('assets/img/cavendish.jpg')"></div>
      <ion-card-content>
        <ion-card-title class="cardTitle">
          MEAL AT YATES
        </ion-card-title>
        <p class="subTitle">Hosted by: Chris Williams</p>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>
        <ion-row>
          <ion-col col-6>
            <i class="fa fa-calendar" aria-hidden="true"></i> Sep 30, 2017
          </ion-col>
          <ion-col col-6>
            <i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 - 14:00
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <i class="fa fa-map-marker" aria-hidden="true"></i> London
          </ion-col>
          <ion-col col-6 class="e-type">
            <i class="fa fa-unlock" aria-hidden="true"></i> PUBLIC
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <div>
      <div class="bg-img" style="background-image: url('assets/img/beehive.jpg')"></div>
      <ion-card-content>
        <ion-card-title class="cardTitle">
          MEAL AT YATES
        </ion-card-title>
        <p class="subTitle">Hosted by: Chris Williams</p>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>
        <ion-row>
          <ion-col col-6>
            <i class="fa fa-calendar" aria-hidden="true"></i> Sep 30, 2017
          </ion-col>
          <ion-col col-6>
            <i class="fa fa-clock-o" aria-hidden="true"></i> 12:00 - 14:00
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <i class="fa fa-map-marker" aria-hidden="true"></i> London
          </ion-col>
          <ion-col col-6 class="e-type">
            <i class="fa fa-unlock" aria-hidden="true"></i> PUBLIC
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
  
   -->

</ion-content>
