page-event-tab {

  ion-slides {
    height: 59% !important;

    ion-slide {
      height: 200px !important;
    }
  }

  .swiper-pagination-bullets {
    bottom: 0 !important;
  }

  .content {
    background-color: #F8F8F8;

    hr {
      height: 1px;
    }

    .recommended {
      [col-6] {
        padding: 0;
      }

      .sr-text {
        font-weight: 600;
      }

      .see-all {
        text-align: right;
        a {
          text-decoration: none;  
        }
      }
    }

    .ion-bg {
      font-family: 'Source Sans Pro', sans-serif;

      // bg ion-card styling START
      ion-card {
        position: relative;
        text-align: center;
        margin-bottom: 0;
        border-radius: 0;
      }

      .card-title {
        position: absolute;
        top: 30%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 30px #000;
      }
      // bg ion-card styling END

      .content-custom {
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        // margin: 0 10px;
        padding: 13px 15px;
        line-height: 1.4;
      }

      p {
        margin: 0;
      }

      .rec-title {
        font-size: 16px;
        color: #404b69;
        font-weight: 500;
        text-align: left;
      }

      .rec-date, .rec-time {
        color: #808080;
        font-size: 14px;
      }

      .rec-date {
        text-align: left;
      }

      .rec-time {
        text-align: right;
      }

      .rec-row {

        [col-6] {
          padding: 0;
        }

        i {
          margin-right: 5px;
        }
      }

    }

    .sr-text {
      // float: left !important;
      padding: 0 15px;
      font-weight: 300;
      font-size: 10px;
      letter-spacing: 1px;
    }

    .section-search {
      position: relative;
      color: rgb(64,75,105);
      padding: 15px;
      padding-bottom: 0;

      .close-btn {
        position: absolute;
        top: 26px;
        right: 31px;
        text-decoration: none;
        color: rgb(64,75,105);
        
        i {
          font-size: 18px;
        }
      }

      .search-box {
        width: 100%;
        border: 1.5px solid rgb(64,75,105);
        border-radius: 20px;
        padding: 10px 35px 10px 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        background-color: #f8f9fb;
      }

      .search-box::placeholder {
        font-weight: 300;
      }
    }
    
    .card-custom:last-child {
      border-bottom: 1px solid #F0F0F0;
    }

  }

}
