<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Event Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="bg-img" [ngStyle]="{ 'background-image': 'url(' + upcomingEvent.imgName + ')'}"></div>
  <div class="sectionDetails">
    <ion-row>
      <ion-col col-6><i class="fa fa-calendar" aria-hidden="true"></i> {{upcomingEvent.startdate | date: 'yMMMd'}}</ion-col>
      <ion-col col-6 class="text-right"><i class="fa fa-clock-o" aria-hidden="true"></i>
       {{upcomingEvent.starttime}} - {{upcomingEvent.endtime}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12><i class="fa fa-map-marker" aria-hidden="true"></i> {{upcomingEvent.location}}</ion-col>
    </ion-row>

    <p class="title">{{upcomingEvent.title}}</p>
    <p class="description">
      {{upcomingEvent.description}}
    </p>
  </div>
  <p class="hosted">
    Hosted by
    <ion-badge item-end *ngIf="isUserHost">YOU</ion-badge>
  </p>
  <hr>
  <ion-row class="hosted-by" (tap)="userProfile()">
    <ion-col col-3 class="avatar-col"><img class="avatar" src="assets/img/beehive.jpg"></ion-col>
    <ion-col col-8>
      <ion-row>
        <ion-col col-12 class="user-name">{{upcomingEvent.user_fname}} {{upcomingEvent.user_lname}}</ion-col>
        <ion-col col-12 class="user-location">Sheffield, United Kingdom</ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-1 class="right-btn">
      <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
    </ion-col>
  </ion-row>
  <ion-row class="joined-people" (tap)="joinedPeople()">
    <p class="count-people"><i class="fa fa-users" aria-hidden="true"></i> 5 people joined</p>
    <ion-col col-11 class="people-col">
      <img class="avatar" src="assets/img/beehive.jpg">
      <img class="avatar" src="assets/img/cavendish.jpg">
      <img class="avatar" src="assets/img/yates.jpg">
      <img class="avatar" src="assets/img/beehive.jpg">
      <img class="avatar" src="assets/img/cavendish.jpg">
    </ion-col>
    <ion-col col-1 class="right-btn">
      <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
    </ion-col>
  </ion-row>
  <ion-row class="button-group">
    <ion-col col-6 class="joined-btn" *ngIf="isUserJoined">
      <button ion-button round [disabled]="true"><i class="fa fa-check" aria-hidden="true"></i> JOINED</button>
    </ion-col>

    <ion-col col-6 class="join-btn" *ngIf="!isUserJoined">
      <button ion-button round (click)="joinEvent()"><i class="fa fa-check" aria-hidden="true"></i> JOIN</button>
    </ion-col>

    <ion-col col-6 class="cancel-btn">
      <button ion-button round (click)="cancelEvent()"><i class="fa fa-times" aria-hidden="true"></i> CANCEL</button>
    </ion-col>
  </ion-row>
</ion-content>
