page-event-details {
  .content {
    font-family: 'Source Sans Pro', sans-serif;

    p {
      margin: 0;
    }

    .text-right {
      text-align: right;
    }

    .sectionDetails {
      padding: 5px 10px;

      .row {
        margin-bottom: 5px;

        i {
          color: #2C3859;
          margin-right: 5px;
        }
      }

      .title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: #2C3859;
        padding:0;
        margin: 0;
      }

      .description {
        font-size: 12px;
        color: #777;
        margin-top:0;
      }

    }

    hr {
      margin-bottom: 0;
    }

    .hosted {
      font-weight: 700;
      margin: 5px 10px 0;
    }

    .count-people {
      font-weight: 700;
      padding: 5px 10px 0;
      color: #8a8a8a;
    }

    .avatar-col {
      position: relative;

      img.avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .avatar-col, .people-col {
      text-align: center;
    }

    .joined-people {
      background-color: #fafafa;
      position: relative;
      border-bottom: 3px solid #F1F1F1;

      .right-btn {
        position: absolute;
        top: 40%;
        right: 0;
      }
    }

    .people-col {
      padding: 5px 10px;

      .avatar {
        width: 25px;
        height: 25px;
      }
    }

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
    }

    .hosted-by:hover {
      background-color: #fafafa;
    }

    .hosted-by {
      padding: 0.3em 0;
      border-bottom: 3px solid #F1F1F1;

      [col-12]{
        padding: 3px 0 0;
      }

      .user-name {
        font-weight: 700;
        font-size: 16px;
      }

      .user-location {
        font-size: 12px;
      }
    }

    .right-btn {
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #8a8a8a;
      }
    }

    .button-group {
      text-align: center;
      padding: 5px 0;

      .join-btn {
        button {
          background-color: #fff;
          color: #2C3859;
          border: 1px solid #2C3859;
        }
      }

      .cancel-btn {
        button {
          background-color: #fff;
          color: #F53D3D;
          border: 1px solid #F53D3D;
        }
      }

      button {
        font-size: 14px;
        margin: 0;
        width: 100%;
        font-weight: 700;
        box-shadow: none;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
