page-user-profile {
  .content {
    font-family: 'Source Sans Pro', sans-serif;

    p {
      margin: 0;
    }

    .bg-img {
      background-color: #ECF6FB;

      .select-btn {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        padding: 5px;
      }
    }

    .bg-img:before {
      padding-bottom: 60%;
    }

    .container {
      text-align: center;

      .avatar-col {
        position: relative;
        text-align: center;
        margin-top: -16%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
      }

      .avatar-col:before {
        content: "";
        display: block;
        padding-bottom: 70%;
      }

      .star, .starred {
        border-radius: 20px;
        font-size: 10px;
        padding: 4px 15px;
        font-weight: bold;
      }

      .star {
        background-color: #fff;
        color: #FFA500;
        border: 1px solid #FFA500;
      }

      .starred {
        background-color: #FFA500;
        color: #fff;
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      .location {
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #667F97;
      }      
    }

    .recentActivity {
      margin-top: 30px;

      .recent-title {
        margin-left: 15px;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .avatar-col {
        position: relative;

        img.avatar {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .avatar-col, .people-col {
        text-align: center;
      }

      .people-col {
        padding: 5px 10px;

        .avatar {
          width: 25px;
          height: 25px;
          margin-left: 4px;
        }
      }

      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
      }

      .hosted-by:hover {
        background-color: #fafafa;
      }

      .hosted-by {
        padding: 0.3em 0;
        border-top: 1px solid #F1F1F1;

        [col-12]{
          padding: 3px 0 0;
        }

        .user-name {
          font-size: 12px;
          font-weight: 300;
          
          span {
            font-weight: 600;
          }
        }

        .user-location {
          font-size: 11px;
          color: #0B5AC9;
          font-weight: 500;
        }
      }

      .right-btn {
        position: relative;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #8a8a8a;
        }
      }
    }

  }
}
