// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 150px;
  display: block;
}

.bg-img:before {
  content: "";
  display: block;
  padding-bottom: 70%;
}

.card-custom, ion-card {
  font-family: 'Source Sans Pro', sans-serif !important;

  img {
    max-width: 100%;
    height: auto;
  }

  // .bg-img {
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   min-height: 150px;
  //   display: block;
  // }

  // .bg-img:before {
  //   content: "";
  //   display: block;
  //   padding-bottom: 70%;
  // }

  .cardTitle {
    font-weight: 700;
    color: rgb(64,75,105);
    text-transform: uppercase;
    padding: 0; margin: 0;
  }

  .subTitle {
    color: #000 !important;
    font-size: 1.4rem !important;
    margin-bottom: 5px !important;
  }

  .e-type {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(64,75,105);
  }

  ion-row {
    color: #000;

    i {
      color: rgb(64,75,105);
    }
  }
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  custom-color: #2C3859
);

$toolbar-background: #2C3859;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Google Font API
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

// Font Awesome
@import "./scss/font-awesome"; 
@font-face { font-family: 'FontAwesome'; 
src: url('../assets/fonts/fontawesome-webfont.eot?v=#{$fa-version}');
src: url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
url('../assets/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
url('../assets/fonts/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
url('../assets/fonts/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
url('../assets/fonts/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }