page-create {
  .content {
    font-family: 'Source Sans Pro', sans-serif !important;

    .bg-img {
      background-color: #ECF6FB;

      .select-btn {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        padding: 5px;
      }

    }

    .form-content {
      padding: 10px;

      label {
        font-weight: 700;
      }

      .form-input, .search-btn {
        border-radius: 20px;
        padding: 0 10px;
        border: 2px solid #F0F0F0;
      }

      .form-input.date {
        padding: 10px;
      }

      .form-input.datetime-md {
        padding: 12px;
      }

      .search-btn {
        background-color: #fff;
        box-shadow: none;
        font-size: 14px;
        padding: 20px 10px !important;

        .button-inner {
          color: #a0a0a0;
          display: block !important;
          position: absolute;
          left: 15px; top: 13px;
          text-align: left;
          text-transform: none;
        }
      }

      textarea {
        height: 80px;
      }

      .create-btn {
        background-color: #2C3859;
        color: #fff;
        font-weight: bold;
      }

      ion-select {
        width: 100% !important;
        max-width: 100%;
        border-radius: 20px;
        border: 2px solid #F0F0F0;
      }

      // ion-item {
      //   padding: 0;
      //   border: none;
      // }

    }

  }
}
