page-create {
  .content {

    .form-content {
      padding: 10px;

      label {
        font-weight: 700;
      }

      .form-input {
        border-radius: 20px;
        padding: 0 10px;
        border: 2px solid #F0F0F0;
      }

      textarea {
        height: 80px;
      }

      .create-btn {
        background-color: #2C3859;
        color: #fff;
        font-weight: bold;
      }

    }

  }
}
